@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-height: 5rem;
    --main-height: calc(100vh - var(--footer-height));

    --border-color: rgb(16, 16, 16);
    --select-color: rgb(23, 23, 23);
    --footer-color: rgb(26, 26, 26);
    --main-color: rgb(33, 33, 33);
    --text-color: #FFFFFF;

    --progress-main: #FF0000;
    --progress-hover: #696969;
    --progress-load: #858585;
    --progress-bg: #333333;

    --cd-size: 8rem;
    --cd-center-size: 14rem;
}

/* ! test only */
.center_line::after {
    content: "";
    background-color: #fff6;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    transform: translateX(-50%);
    pointer-events: none;
}
/* ! test only */

main {
    background-color: var(--main-color);
    height: var(--main-height);
}

footer {
    background-color: var(--footer-color);
    border-top: 1px solid var(--border-color);
    height: var(--footer-height);
}

.bg_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mask_img {
    background-color: var(--text-color);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
}

#player_list_scroll {
    transition-property: left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

#player_list > div {
    position: relative;
}

.player_cd{
    user-select: none;
    height: var(--cd-size);
    width: var(--cd-size);
    transition-property: height,width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    position: relative;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

.player_cd.cd_center{
    height: var(--cd-center-size);
    width: var(--cd-center-size);
}

.progress_bar {
}

.progress_bar_bg {
    background-color: var(--progress-bg);
    height: 2px;
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.progress_bar_main {
    background-color: var(--progress-main);
    position: relative;
}

.progress_bar_main::after {
    content: "";
    background-color: var(--progress-main);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    height: 0px;
    width: 0px;
    transform: translate(50%,-50%);
    transition-property: height,width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.progress_bar:hover .progress_bar_bg {
    height: .25rem;
}

.progress_bar:hover .progress_bar_main::after {
    height: .75rem;
    width: .75rem;
}


.player_btn {
    height: 2.25rem;
    width: 2.25rem;
}

.player_btn svg{
    height: 100%;
    width: 100%;
}

.player_btn svg path{
    fill: var(--text-color);
}

#player_control_panel {
}
