@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-height: 5rem;
    --main-height: calc(100vh - var(--footer-height));

    --border-color: rgb(16, 16, 16);
    --select-color: rgb(23, 23, 23);
    --footer-color: rgb(26, 26, 26);
    --main-color: rgb(33, 33, 33);
    --text-color: #FFFFFF;

    --progress-main: #FF0000;
    --progress-hover: #696969;
    --progress-pre: #858585;
    --progress-bg: #333333;

    --cd-size: 8rem;
    --cd-center-size: 14rem;
}

.empty\:d-none:empty {
    display: none;
}

/* ! test only */
.center_line::after {
    content: "";
    background-color: #fff6;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    transform: translateX(-50%);
    pointer-events: none;
}
/* ! test only */

main {
    background-color: var(--main-color);
    height: var(--main-height);
}

footer {
    background-color: var(--footer-color);
    border-top: 1px solid var(--border-color);
    height: var(--footer-height);
}

.bg_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mask_img {
    background-color: var(--text-color);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
}

#player_list_scroll {
    transition-property: left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

#player_list > div {
    position: relative;
}

.player_cd{
    user-select: none;
    height: var(--cd-size);
    width: var(--cd-size);
    transition-property: height,width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    position: relative;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

.player_cd.cd_center{
    height: var(--cd-center-size);
    width: var(--cd-center-size);
}

.progress_bar { }

.progress_bar:hover .progress_bar_bg {
    height: .25rem;
}

.progress_bar:hover .progress_bar_main::after {
    height: .75rem;
    width: .75rem;
}

.progress_bar_bg {
    background-color: var(--progress-bg);
    height: 2px;
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.progress_bar_bg > div{
    pointer-events: none;
    width: 0%;
}

.progress_bar_bg > div:not(.progress_bar_hover){
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.progress_bar_pre {
    background-color: var(--progress-pre);
    opacity: 0.3;
}

.progress_bar_hover {
    background-color: var(--progress-hover);
    opacity: 0.8;
    /* transition: none !important; */
}

.progress_bar_main {
    background-color: var(--progress-main);
}

.progress_bar_main::after {
    content: "";
    background-color: var(--progress-main);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    height: 0px;
    width: 0px;
    transform: translate(50%,-50%);
    transition-property: height,width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

#time_hint {
    background-color: var(--footer-color);
    border-top: 1px solid var(--border-color);
    pointer-events: none;
    transform: translate3d(-50%,0%,0%);
    font-size: 14px;
    opacity: 0;
}

#time_hint.show {
    opacity: 1;
}

.player_btn {
    /* height: 2.25rem;
    width: 2.25rem; */
    cursor: pointer;
}

.player_btn svg{
    height: 100%;
    width: max-content;
}

.player_btn svg path{
    fill: var(--text-color);
}

#player_control_panel {
}

#volume_div > #volume_control{
    width: 0rem;
    opacity: 0;
    transition-property: width,opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms,100ms;
    transition-delay: 0s;
}

#volume_div + #cd_info {
    padding-left: 0rem;
    transition-property: padding-left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

#volume_div.open > #volume_control{
    padding-left: 0.75rem;
    opacity: 1;
    width: 5rem;
    transition-property: width,opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms,100ms;
    transition-delay: 0s,150ms;
}

/* #volume_div.open + #cd_info {
    padding-left: 6rem;
} */

input[type="range"] {
    -webkit-appearance: none;
    /* 避免點選會有藍線或虛線 */
    background: none;
}

input[type="range" i]::-webkit-slider-container {
    background-color: #FFF;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

input[type="range" i]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    height: 12px;
    width: 12px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition-property: width,height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

input[type="range" i]:hover::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
}


input[type="range" i]::-webkit-slider-thumb:before,
input[type="range" i]::-webkit-slider-thumb:after {
    position: absolute;
    top: 13px;
    width: 2000px;
    height: 5px;
    content: "";
    pointer-events: none;
    transition: .2s;
}

input[type="range" i]::-webkit-slider-thumb:before {
    left: -2000px;
    background: #de1c16;
}

input[type="range" i]::-webkit-slider-thumb:after {
    left: 15px;
    background: #d9d9d9;
}
